
:root {
    --fond: #ffe781; /*  */
    --fond-elts: #ecda8d;
    --curseur-bordure: #c61515;
    --curseur-fond: #eacbcb;
    --indicateur-curseur-temps-fond: var(--curseur-bordure);
    --marqueur-temps: #fae79b; /* La petite fenêtre dans laquelle est affiché le temps */
    --graduation-heure: red;
    --graduation-demiheure: red;
}


html {
    height: 95%;
    width: 99vw;
    zzheight: 400px;
    zzposition: relative;
}



body {
    background: var(--fond);
    width: 99%;
    position: absolute;
    zzborder: 3px solid green;
    min-height: 95%;
}


#mapid {
    height: 100px; /* Peu importe, recalculé dynamiquement */
    width: 100%;

}



.curseurTempsContainer {
    width: 100%;
    position: relative;
    height: 80px;
    zzborder: 1px solid blue;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* The slider itself */
.curseurTemps {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: var(--fond-elts); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.curseurTemps:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* Le doigt du curseur ( -webkit- (Chrome, Opera, Safari, Edge) et -moz- (Firefox) ) */
.curseurTemps::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px;
    height: 25px;
    background: var(--curseur);
    border-radius: 5px 5px / 5px 5px;
    border: 1px solid var(--curseur-bordure);
    cursor: pointer; /* Style */
}

.curseurTemps::-moz-range-thumb {
    width: 40px;
    height: 25px;
    zzbackground: var(--curseur);
    background: var(--curseur-fond);
    border: 1px solid var(--curseur-bordure);
    cursor: pointer;
}

.curseurTemps::-ms-thumb {
    width: 40px;
    height: 25px;
    zzbackground: var(--curseur);
    background: var(--curseur-fond);
    border: 1px solid var(--curseur-bordure);
    cursor: pointer;
}


#indicateurCurseurTemps {
    position: absolute;
    zzwidth: 5%;
    height: 28px;
    background: var(--indicateur-curseur-temps-fond);
    border-radius: 2px 2px / 2px 2px;
    top: -28px;
    zzleft: 20%;
}

.marqueurTemps {
    box-shadow: 0 0 0 0.1em inset;
}
.marqueurTemps {
	right: 0;
	text-align: center;
	width: 5%; // Surchargé dans le javascript
	height: 1.5em;
    background-color: var(--marqueur-temps);
    zzleft: 100;
}



.graduationsTempsContainer {
    /* IMPORTANT : Pour que le positionnement de chaque élément du container soit calculé à partir de ce container,
    il faut que celui-ci ait un positionnnement "relative" */
    position: relative;
    width: 100%;
    height: 50px;
    zzborder: 1px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    /* Les graduations sont décalées vers la droite d'1px et je ne vois pas pourquoi. (Chrome et Firefox)
      Alors on décale de -1px pour compenser */
    margin-left: -1px;
}

.graduationsTempsContainer p.heure {
    display: inline-block;
    height: 30px;
    zzwidth: 1px;
    border: 1px solid var(--graduation-heure);
    zzmargin-left: 20%;
    zzleft: 20%;
    /* RAPPEL IMPORTANT : pour que la position  ("absolute") de cet élément soit calculée à partif de son container indépendamment
    des autres éléments qu'il peut contenir, il faut que le container ait un positionnement "relative" */
    position: absolute;
    margin-bottom: 1px;
    bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.graduationsTempsContainer p.demiHeure {
    display: inline-block;
    height: 10px;
    zzwidth: 1px;
    border: 1px solid var(--graduation-demiheure);
    zzmargin-left: 20%;
    zzleft: 50%;
    /* RAPPEL IMPORTANT : pour que la position ("absolute") de cet élément soit calculée à partif de son container indépendamment
    des autres éléments qu'il peut contenir, il faut que le container ait un positionnement "relative" */
    position: absolute;
    margin-bottom: 1px;
    bottom: 0px;
    zzpadding-bottom: -20px;
    padding-left: 0px;
    margin-left: 0px;
}

.graduationsTempsContainer span {
    position: relative;
    left: 8px;
    bottom:15px;
    zzdisplay : none;
}




.indicateur {
    zzdisplay: none;
    position: relative; /* Relative : par rapport à la position qu'il devrait avoir */
    width: 15px;
    bottom: -10px;
    left: 0%;
}

.masquer {
    display: none;
}

.moyenneVitalitesContainer {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: var(--fond-elts);
    margin-top: 5px;
    zzborder: 1px solid red;
    zzdisplay: none;
}
.moyenneVitalitesContainer p {
    position: absolute;
}

#vitalite1ZoneContainer {
    width: 100%;
    zzbackground-color: var(--fond-elts);
}

#vitalite1ZoneContainer p {
    display: inline-block;
    width: 20%;
    height: 20px;
    background-color: var(--fond-elts);
}

#vitalite1ZoneContainer .fermer{
    width: 15px;
    display: inline !important;
    padding-right: 10px;
}

.moyenneVitalitesContainer p {
    display: inline-block;
    width: 20%;
    height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left:  0px;
    margin-right: 0px;
}




#aide {
    position: absolute;
    bottom: -30px; /* Positionnement juste sous son container parent */
    height: 30px;
    zzborder: 1px solid var(--graduation-demiheure);
    padding-top: 0;
    padding-bottom: 10px;
}

#aide b {
    color: red;
}

h2 {
    font-size: large;

}
