
body {
    background: #ffe781;
    width: 95%;
    zzheight: 100%;
}
html, body {
    height: 95%;
    width: 99vw;
    zzheight: 400px;
}


#mapid {
    height: 80%;
    height: 40%;
    width: 90%;

}



.curseurTempsContainer {
  width: 100%; /* Width of the outside container */
  position: relative;
}

/* The slider itself */
.curseurTemps {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #ecda8d; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.curseurTemps:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* Le doigt du curseur ( -webkit- (Chrome, Opera, Safari, Edge) et -moz- (Firefox) ) */
.curseurTemps::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px;
  height: 25px;
  background: #c61515;
  cursor: pointer; /* Style */
}

.curseurTemps::-moz-range-thumb {
  width: 5px;
  height: 25px;
  background: #c61515;
  cursor: pointer;
}

.marqueurTemps {
    box-shadow: 0 0 0 0.1em inset;
}
.marqueurTemps {
	right: 0;
	text-align: center;
	width: 5%; // Surchargé dans le javascript
	height: 1.5em;
    background-color: #fae79b;
    zzleft: 100;
}



.graduationsTempsContainer {
    /* IMPORTANT : Pour que le positionnement de chaque élément du container soit calculé à partir de ce container,
    il faut que celui-ci ait un positionnnement "relative" */
    position: relative;
    zzwidth: 100%;
    height: 50px;
    border: 1px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
}

.graduationsTempsContainer p.heure {
    display: inline-block;
    height: 30px;
    width: 1px;
    border: 1px solid red;
    zzmargin-left: 20%;
    zzleft: 20%;
    /* RAPPEL IMPORTANT : pour que la position  ("absolute") de cet élément soit calculée à partif de son container indépendamment
    des autres éléments qu'il peut contenir, il faut que le container ait un positionnement "relative" */
    position: absolute;
    margin-bottom: 1px;
    bottom: 0px;
}

.graduationsTempsContainer p.demiHeure {
    display: inline-block;
    height: 10px;
    width: 1px;
    border: 1px solid red;
    zzmargin-left: 20%;
    zzleft: 50%;
    /* RAPPEL IMPORTANT : pour que la position ("absolute") de cet élément soit calculée à partif de son container indépendamment
    des autres éléments qu'il peut contenir, il faut que le container ait un positionnement "relative" */
    position: absolute;
    margin-bottom: 1px;
    bottom: 0px;
    zzpadding-bottom: -20px;
}

.graduationsTempsContainer span {
    position: relative;
    left: 8px;
    bottom:15px;
    zzdisplay : none;
}


.moyenneVitalitesContainer {
    position: relative;
    width: 100%;
    background-color: #ecda8d;
    zzborder: 1px solid red;
}

.indicateur {
    zzdisplay: none;
    position: relative; /* Relative : par rapport à la position qu'il devrait avoir */
    width: 15px;
    bottom: -10px;
    left: 0%;
}

#vitalite1ZoneContainer .fermer{
    width: 15px;
    display: inline !important;
    padding-right: 10px;
}


.moyenneVitalitesContainer p {
    display: inline-block;
    width: 20%;
    height: 20px;
    background-color: #eacd52;
    zzborder: 1px solid red;
    padding-left: 0px;
    padding-right: 0px;
    margin-left:  0px;
    margin-right: 0px;
}

.masquer {
    display: none;
}

#vitalite1ZoneContainer {
    width: 100%;
    background-color: #ecda8d;
}

#vitalite1ZoneContainer p {
    display: inline-block;
    width: 20%;
    height: 20px;
    background-color: #ecda8d;
    border: 0px solid red;
}



#aide {
    zzdisplay: none;
    position: relative;
    bottom: 0;
    height: 2.5rem;
}

#aide b {
    color: red;
}

h2 {
    font-size: large;

}
